header,
section {
  padding: 10px;
}

input {
  border-radius: 5px;
  margin: 2px;
}

.master-container {
  background-color: #e0e0e0;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  background-color: #e0e0e0;
  background-image: linear-gradient(to right, #e0e0e0, white),
    url("../images/todo.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
