.completed-task-container {
  border: 3px solid #00cd00;
  border-radius: 40px;
  margin: 10px 30%;
}

.completed-task-header {
  text-align: center;
  color: #00cd00;
}

.completed-task-header h2 {
  font-size: 4vim;
}

.completed-task ul {
  list-style-type: none;
}

.completed-task li {
  width: 50%;
}

.completed-task .ch-item {
  box-shadow: inset 0 0 0 16px #00cd00, 0 1px 2px rgba(0, 0, 0, 0.1);
}

.completed-task .ch-info {
  background: #00cd00;
}

.completed-task h4 {
  color: #00cd00 !important;
  text-shadow: 0 0 1px #00cd00, 0 1px 2px rgba(0, 0, 0, 0.3) !important;
}

.completed-task p {
  font-size: 5rem !important;
}

/*
.completed-task li {
  padding: 2px;
  background-color: #00cd00;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 3px;
  color: red;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
}

.completed-task li:hover {
  color: red;
  text-decoration: none;
  background: #00cd00;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 3vmin;
  text-align: center;
  overflow-wrap: break-word;
}
*/
