.todo-task-container {
  background-image: url("../images/wrinting2.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  background-color: #8d8d8d;
  background-size: cover;
  background-blend-mode: multiply;
}
@media only screen and (max-width: 600px) {
  .todo-task-container {
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}

.todo-task-header {
  text-align: center;
  color: #ff1a1a;
}

.todo-task-header h2 {
  font-size: 4vim;
  opacity: 0.9;
}
